#navigation{
	height: 80px;
}
#footer{
	height: 215px;
	background: #F7F9FB;
}
div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.row{
	width: inherit;
	height: inherit;
}
#logo{
	height: 46px;
	width: 46px;
}
img{
	max-width: 100%;
	max-height: 100%;
}
#navigation-row > div{
	height: inherit;
	border-right: 1px solid #F4F4F4;
	border-left: 1px solid #F4F4F4;
}
.button{
	flex-direction: column;
	align-items: center;
}
.label {
	font-family: Gotham Pro;
	font-size: 12px;
	font-weight: bold;
	line-height: 11px;
	text-align: center;
	color: #181818;
}
.button > .label{
	text-transform: uppercase;
}
#search-label{
	font-family: Gotham Pro;
	font-size: 16px;
	line-height: 15px;
	color: #CECECE;
}
#avatar{
	height: 42px;
	width: 42px;
}
#info{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	box-sizing: content-box;
	height: 50%;
}
#you-label{
	color: #CECECE;
	font-weight: normal;
	text-transform: uppercase;
	flex: auto;
}
#views-label{
	font-weight: normal;
	color: #747474;
}
#name-label{
	text-transform: uppercase;
}
#views-difference{
	flex: auto;
}
#difference-label{
	color: #02B033;
}
#footer-navigation-label{
	display: flex;
	justify-content: left;
	align-items: top;
}
#footer-right-top-label{
	display: block;
	padding-left: 40%;
	padding-bottom: 40%;
}
#footer-logo-title{
	padding-top: 20%;
	font-size: 14px;
	line-height: 150%;
}
span.in-label{
	color: #0275B1;	
}
#navigation-menu > div{
	display: block;
}
.navigation-menu-control{
	font-family: Gotham Pro;
	font-size: 12px;
	line-height: 11px;
	text-align: left;
	color: #181818;
	justify-content: left;
}
@font-face{
	font-family: Gotham Pro;
	src: url("fonts/GothamPro.ttf") format("truetype");
}