.navigation{
	height: 80px;
}
.cleaned_padding{
  padding-left: 0px;
	padding-right: 0px;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}
.main{
	background-color: #F7F9FB;
}
.main::before{
	content:"";
  display: block;
	background-color:#F7F9FB;
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100%;
	z-index: -1;
}
.footer{
	height: 215px;
	background-color: #F7F9FB;
}
.footer::before{
	content:"";
	background-color:#F7F9FB;
	position: absolute;
	height: 215px;
	min-width:100%;
	z-index: -1;
}
div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation-row{
  position: fixed;
  background-color: #FFFFFF;
  z-index: 1;
  max-width: inherit;
}
a:hover, .button:hover{
	cursor: pointer;
}
a{
	text-decoration: none;
}
.row{
	width: inherit;
	height: inherit;
}
.logo{
	height: 46px;
	width: 46px;
}
.navigation-row > div{
	height: inherit;
	border-right: 1px solid #F4F4F4;
	border-left: 1px solid #F4F4F4;
}
.flex-column{
  flex-direction: column;
}
.button{
	align-items: center;
}
.text-size-xs{
  font-size: 10px;
	line-height: 15px;
}
.text-size-s{
  font-size: 12px;
	line-height: 11px;
}
.text-size-m{
  font-size: 14px;
  line-height: 21px;
}
.label{
	font-family: Gotham Pro;
  font-weight: bold;
	text-align: center;
	color: #181818;
}
.search-label{
	font-family: Gotham Pro;
	font-size: 16px;
	line-height: 15px;
	color: #CECECE;
}
.avatar{
	height: 42px;
	width: 42px;
}
.info{
	flex-wrap: wrap;
	justify-content: left;
	box-sizing: content-box;
	height: 50%;
}
.you-label{
	color: #CECECE;
	font-weight: normal;
	text-transform: uppercase;
	flex: auto;
}
.views-label{
	font-weight: normal;
	color: #747474;
}
.name-label{
	text-transform: uppercase;
}
.views-difference{
	flex: auto;
}
.difference-label{
	color: #02B033;
}
.footer-navigation-label{
	display: block;
	text-align: left;
}
.footer-right-top-label{
	display: block;
	padding-left: 40%;
	padding-bottom: 40%;
}
.footer-logo-title{
	padding-top: 20%;
}
span.in-label{
	color: #0275B1;	
}
.navigation-menu-control{
	height: 24px;
}
.navigation-menu{
	height: inherit;
	justify-content: flex-start;
}
.menu{
  width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
}
.menu-column{
	height: 70%;
	align-items: flex-start;
	justify-content: flex-start;
}
.menu-header{
	height: 55%;
  width: 100%;
}
.blue-button{
	background: #0275B1;
}
.questions-label{
	text-transform: uppercase;
	color: #FFFFFF;
}
.settings-label{
	text-transform: uppercase;
	color: #0275B1;
}
.navigation-menu-button{
	height: 32px;
	width: 170px;
	left: 810px;
	top: 69px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #0275B1;
	text-align: left;
	justify-content: space-between;
}
.fast-access-menu{
  height: 72px;
  width: 100%;
	align-items: flex-start;
}
.fast-menu-header{
	height: 76px;
  width: 100%;
}
.fast-access-menu-button{
  justify-content: space-between;
}
.language-select-button{
	background: #FFFFFF;
	border: 1px solid #F0F0F0;
	width: 270px;
}
.language-label{
	text-transform: uppercase;
}
.language-select-menu-header{
  height: 76px;
  width: 100%;
}
.language-select-menu{
	height: 72px;
  width: 100%;
  align-items: flex-start;
}
.navigation-button-icon{
  margin-bottom: 10px;
  font-size: 24px;
}
.icon-search{
  font-size: 24px;
}
.icon-navigation{
  margin-right: 10px;
}
.icon-arrow-up-right{
  font-size: 12px;
}
.profile-top{
	justify-content: start;
}
.project-textbox{
	justify-content: flex-start;
	margin-left: 3.5%;
	padding-left: 0px;
}
.projects-top{
	margin-left: 2%;
	padding-top: 30px;
}
.years-title{
  font-family: Gotham Pro;
  color: #0275B1;
  font-weight: bold;
  margin-left: 15px;
}
.education-experience-top{
	margin-left: 2%;
}
.projects-count-text{
	display: inline;
	padding-left: 10px;
	width: 68px;
	color: #747474;
}
.left-block{
	padding-left: 0px;
}
.right-block{
	padding-right: 0px;
}
.projects-bottom{
	align-self: flex-start;
	margin-left: 3.5%;
	text-align: left;
	padding-bottom: 30px;
}
.profile-header{
	align-self: flex-start;
	height: 330px;
	background-color: #FFFFFF;
  width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile-row{
	position: relative;
	margin-top: 40px;
}
.connections-button{
  margin-left: 15px;
  justify-content: center;
}
.profile-info{
	align-content: flex-start;
}
.user-pic{
	align-self: start;
	position: relative;
	bottom: 30px;
	height: 170px;
	width: 170px;
}
.user-info{
	padding-right: 25px;
	padding-left: 25px;
	justify-content: space-between;
	height: 120px;
}
.user-info-header{
	justify-content: space-between;
}
.text{
	font-family: Gotham Pro;
	color: #181818;
}
.name{
	font-size: 18px;
	line-height: 17px;
	font-weight: bold;
}
.description{
	font-weight: bold;
}
.profile-description{
  font-weight: normal;
}
.profile-name{
  font-weight: bold;
}
.dashboard{
  justify-content: space-evenly;
	background: #FFFFFF;
	width: 290px;
	height: 330px;
	box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
	border-radius: 4px;
}
.dashboard-header{
  width: 80%;
  justify-content: space-between
}
.all-stats-control{
  font-weight: bold;
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #0275B1;
}
.dashboard-block{
  width: 75%;
  align-items: flex-start;
  height: 20%;
}
.block-number{
  font-size: 52px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  color: #0275B1;
}
.main-content-block{
	justify-content: space-evenly;
	background: #FFFFFF;
	box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
	border-radius: 4px;
  box-sizing: content-box;
	margin-top: 20px;
}
.profile-button{
	width: 36px;
	height: 36px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
	border-radius: 4px;
}
.about-textbox{
	align-self: flex-start;
	margin-left: 3.5%;
}
.about-top{
	padding-top: 15px;
}
.about-bottom{
	padding-bottom: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0275B1;
}
.sidebar{
	justify-content: start;
  align-items: flex-end;
}
.main-sidebar{
  align-self: flex-start;
}
.about{
	height: 170px;
}
.selected-tab{
  width: 220px;
  height: 50px;
  border-radius: 4px 4px 0px 0px;
}
.unselected-tab-label{
  text-transform: uppercase;
}
.middle-line{
  width: 90%;
}
.unselected-tab{
  width: 220px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  margin-left: 0px;
  justify-content: center;
}
.right-tab{
  border-radius: 0px 4px 0px 0px;
}
.skills{
	height: 220px;
}
.education{
	height: 195px;
	margin-bottom: 40px;
}
.experience{
	height: 345px;
}
.projects{
	height: 355px;
}
.projects-preview{
	flex-wrap: nowrap;
	box-sizing: content-box;
	align-content: space-around;
}
.project-block{
	justify-content: space-evenly;
	box-sizing: content-box;
}
.img-project-preview{
	box-sizing: content-box;
	width: 90%;
}
.project-title{
  align-self: start;
  margin-left: 6%;
}
.block-header{
  justify-content: space-between;
  width: 84%;
}
.skill-header{
  padding-bottom: 10px;
}
.skill-count{
  padding-bottom: 10px;
	margin-left: 6%;
  color: #0275B1
}
.left-users-img{
  margin-right: 40%;
}
.experience, .education{
  justify-content: space-evenly;
}
.experience-education-preview{
  align-items: flex-start;
}
.record{
  align-items: flex-start;
  padding-right: 3.5%;
  padding-left: 2%;
  width: 700px;
}
.buttons-bar{
  justify-content: left;
  align-items: flex-end;
  box-sizing: content-box;
	margin-top: 20px;
}
.record-logo{
  padding-left: 3.5%;
}
.line{
  border: 1px solid #f4f4f4;
}
.gradient-button{
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
}
.skills-block{
  width: 220px;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 6px;
}
.project-description{
	align-self: start;
	padding-bottom: 30px;
	margin-left: 6%;
}
.course-name{
  font-weight: bold;
}
.record-text{
  align-self: start;
  margin-top: 5px;
}
.expand-control{
	text-transform: uppercase;
	color: #0275B1;
	font-weight: bold;
}
.visitor-info{
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 10px;
}
.visitors-header{
  justify-content: space-around;
}
.visitor-profile{
  width: 80%;
  justify-content: left;
}
.sidebar-block{
  margin-top: 20px;
  width: 290px;
	background: #FCFDFD;
	border-radius: 4px;
  justify-content: space-evenly;
}
.visitors{
	height: 427px;
}
.courses{
  height: 338px;
}
.profile-buttons{
	justify-content: start;
}
.contact-info-button{
  justify-content: center;
}
.profile-logo-gold{
	margin-left: 8px;
}
.upload-button{
	position: absolute;
	left: 140px;
	top: 20px
}
.icon-arrow-up-right{
  margin-left: 5px;
}
.edit-button{
	position: absolute;
  justify-content: space-evenly;
	width: 132px;
	left: 668px;
	top: 20px;
}
.more-button{
	position: absolute;
	left: 815px;
	top: 20px;
}
.button-label{
	text-align: center;
	text-transform: uppercase;
}
.location-logo{
	margin-right: 10px;
}
.job-location{
  margin-left: 15px;
}
.education-experience-description{
  margin-top: 10px;
}
@font-face{
	font-family: Gotham Pro;
	src: url("fonts/GothamPro.ttf") format("truetype");
}